th , td{
  text-align: center;
  padding: 0 15px 0 15px;
  margin-top: 5px;
}

.tableFixHead {
    overflow-y: auto;
        height: 25%;
    }
.tableFixHead thead th {
    position: sticky;
    top: 0;
}
.issuetable{
    border-collapse: collapse;
    width: 100%;
    padding: 0 90px 0 90px;
    margin-top: 5px;
    background-color : white;
    
}

.ajaxTable {
  text-align: center;
  padding: 0 90px 0 90px;
  margin-top: 5px;
  background-color : white;
}


.viewTable th,td {
  text-align: center;
}

.hidden {
  visibility: hidden;
}

.reveal {
  visibility: visible;
}


      

      